<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <h1> Login Page </h1>
    {% endblock %}
    <title>{% block title %}{% endblock %}
      Login Page
    </title>
  </head>
  <body>
    {% block body %}
    
    <form action = "/auth"  method = "GET" > {#goes to auth to see if the username or pw is wrong#}
      Username: <input type="text" name="username">   <br> {#input username #}
      Password:  <input type="password" name="password"> {#input password #}
      <input type="submit" name="Login">
    </form>
    
    {% set msg = get_flashed_messages() %} {# if wrong username or pw inputted, flash the error message #}
    {% for each in msg %}
    {{each}}
    {% endfor %}

    <div id="footer">
      {% block footer %}
      &copy Copyright 2090 By Team Denn is This Bo'kay
      {% endblock %}
    </div>

    {% endblock %}
  </body>
</html>
