body {
  background-color:#808080;
}
h1 {
   width: 100%;
   font-size: 40px;
   text-align:center;
   padding: 15px;
   background-color: #A9A9A9;
   color: white;
}
#left-column {
  float:left;
  width:20%;
  font-size: 22px;
}
#second-column {
  width: 80%;
  font-size: 22px;
  column-count: 1;
  display:block;
}
#copyright {
  padding:30px;
  width: 96%;
  color: #A9A9A9;
  text-align:right;
  background-color: DimGray;
  font-size:20px;
  bottom:10px;
  position:fixed;
}
